#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: "VK Sans";
  src: url("/fonts/VKSansDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "VK Sans" !important;
}

h1,
h2,
h3,
p,
a,
span,
div {
  font-family: "VK Sans", sans-serif;
}

.icon {
  font-size: 24px;
  color: black;
  transition: color 0.3s ease;
}

.icon:hover {
  color: gold; /* Цвет при наведении */
}
