.errorNotification {
  background-color: #D2D9E1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  height: auto;
  margin: 0 auto; 
  box-sizing: border-box; 
  margin-top: 20px;

  border-radius: 20px;
}

.errorImg {
  font-size: 18px;
  font-weight: bold;
  width: 50%; 
  height: auto;
  object-fit: contain; 
}

h1, h2 {
  margin: 10px 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem; 
  word-wrap: break-word; 
}
